body {
    background-color: white;
}

#mt-lg {
    margin-top: 4rem;
}

#landing-page {
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(rgba(0,0,0,0.8), rgba(0,0,0,0.8)), url('../img/elcapitan.jpg');
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;

    display: flex;
    justify-content: center;
    align-items: center;

    .container {
        background-color: white;
        padding: 2rem;
        border-radius: 5px;
    }
}