body {
    background-color: white;
}

#mt-lg {
    margin-top: 4rem;
}

#landing-page {
    width: 100%;
    min-height: 100vh;
    background-color: yellow;

    display: flex;
    justify-content: center;
    align-items: center;

    .container {
        background-color: red;
    }
}