<%- include('partials/header.ejs') %>

<div id="mt-lg" class="container">
    <h1 class="display-4 my-3">About</h1>

    <div class="jumbotron">
        <p class="lead">Name: Post Site app</p>
        <p class="lead">Version: 1.0.0</p>
        <p class="lead">Author: Dariusz Okonski</p>
        <p class="lead">Year: 2020</p>
        <hr class="my-4">
        <p>&copy; All Right Reserved</p>
        <a class="btn btn-primary" href="/" role="button">Posts Site</a>
        <a class="btn btn-primary" href="/posts" role="button">Home</a>
      </div>
</div>

<%- include('partials/footer.ejs') %>