<%- include('partials/header.ejs') %>

<div id="landing-page">
    <div class="container">
        <h1 class="display-4 my-3">Posts Site App</h1>
        <a class="btn btn-primary" href="/posts">See More</a>
    </div>
</div>


<%- include('partials/footer.ejs') %>